<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @team %>">
  <p>
    <strong>Name:</strong>
    <%= @team.name %>
  </p>
  <p>
    <strong>Team leader:</strong>
    <%= @team.print_leader %>
  </p>

</div>

  <table class="pure-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Admin</th>
        <th>Technical</th>
        <th>Team leader</th>
        <th>Approver</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @team.users.each_with_index do |user, i| %>
        <tr class="<%= 'pure-table-odd' if i % 2 == 0 %>">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= yes_no user.admin %></td>
          <td><%= yes_no user.technical %></td>
          <td><%= yes_no user.team_leader %></td>
          <td><%= yes_no user.approver %></td>
          <td><%= link_to 'Remove', user_to_team_path(user_id: user), data: { turbo_method: :delete, confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> 
</div>

<div class="zerogrid">
  <div class="col-2-3">
    <div class="contact">
      <div id="contact_form">
        <%= form_tag(user_to_team_path, method: :put, id: 'ff') do -%>
          <label class="row">
            <div class="col-2-2">
              <div class="wrap-col">
                <div>
                  <%= label_tag :name %>
                  <%= select_tag "user[id]", options_from_collection_for_select(User.where.not(team_id: @team), "id", "name"), include_blank: true %>
                  <%= hidden_field_tag 'user[team_id]', @team.id %>
                </div>
              </div>
            </div>
          </label>

          <div>
            <%= submit_tag 'Add', class: "sendButton" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>