<h1>Users</h1>

<%= link_to 'New User', new_user_path %>

<%= search_form_for @q do |f| %>
  <table class="pure-table">
    <thead>
      <tr>
        <td></td>
        <td><%= f.search_field :name_cont %></td>
        <td><%= f.search_field :team_name_cont %></td>
        <td id="" colspan="2"><%= f.submit 'Najdi', class: "sendButton" %></td>
      </tr>
    </thead>
    <thead>
      <tr>
        <th><%= sort_link(@q, :id) %></th>
        <th><%= sort_link(@q, :name) %></th>
        <th><%= sort_link(@q, :team_name, 'Team name') %></th>
        <th><%= sort_link(@q, :admin) %></th>
        <th><%= sort_link(@q, :technical) %></th>
        <th><%= sort_link(@q, :team_leader) %></th>
        <th><%= sort_link(@q, :approver) %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, i| %>
        <tr class="<%= 'pure-table-odd' if i % 2 == 0 %>">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= link_to user.team.name, user.team if user.team %></td>
          <td><%= yes_no user.admin %></td>
          <td><%= yes_no user.technical %></td>
          <td><%= yes_no user.team_leader %></td>
          <td><%= yes_no user.approver %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
